<div class="header">
  <h1> Give Stop </h1>
  <div class="entry">
    <% if current_user %>
      <%= link_to 'Logout', logout_path, method: :delete %></li>
    <% else %>
    <p> Join </p>
    <% end %>
  </div>
</div>
<%#= console %>
<div class="toggle" onclick="toggleWindow();"><img src="<%= image_path 'rotate.png' %>"> </div>

<div id="map"></div>
<div class="aside hidden-mo">

  <div class="alert alert-js hidden">
  </div>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>

  <div class="manual view">
    <h3> What is this? </h2>
    <p> Rural players can't play pokemon properly because of the absence of pokestops and gyms. </p>
    <p> This website was created so we can all add interesting point of interests and vote on them, and (hopefully) make niantic add them. </p>
    <p> All map submissions will be made public and easily acessible for everyone.</p>

    <h3> Getting started </h2>
    <p> To start requesting just click on the map, make sure you are logged in first. </p>
    <p> Please read <a href="https://support.ingress.com/hc/en-us/articles/207343987-Candidate-Portal-criteria"> Niantic Guidelines </a> before submiting your request.</p>

  </div>

  <div class="form view hidden">
    <%= form_for Candidate.new, url: {action: "create", :controller=>"candidate"} do |f| %>
      <h2> Submit </h2>
      <h3> Name </h3>
      <%= f.text_field :name, required: true, :maxlength => 30, :minlength => 2, placeholder: "If possible, use a official name." %>

      <h3> Description </h3>
      <%= f.text_area :description, :maxlength => 140, placeholder: "Include a description about the place." %>

      <h3> Image </h3>

      <%= f.file_field :image, required: true %>

      <div class="image-form">
        <%#= f.text_field :remote_image_url, placeholder: "or paste an url here" %>
      </div>

      <%= f.hidden_field :latitude, placeholder: "Click on the map" %>
      <%= f.hidden_field :longitude, placeholder: "Click on the map" %>

      <h3> Comments </h3>

      <%= f.text_area :comment, placeholder: "Tell why this should be a Pokestop. Optional" %>

      <%= f.submit "Send", class: "send" %>
    <% end %>
  </div>

  <div class="login view hidden">
    <h3> Please login to create and vote on Pokestops </h3>
    <%#= link_to 'Twitter', '/auth/twitter' %>
    <div class="social-container">
      <a href="/auth/facebook"> <img class="social-login" src="<%= image_path 'loginfacebook.png' %>"></a>
    </div>
    <i> Your information (name, image) will remain private until you choose not to, this is necessary to prevent spam. </i>
  </div>

</div>

<div id="footer">
<p>  </p>
</div>
<script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNL4T60Jhr-30IesSLKDdpZvUeRRQRb0I&callback=initMap"></script>
