<!DOCTYPE html>
<html>
  <head>
    <title>Pokestop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <%= yield %>
    <script>
    loggedIn = <%= !!current_user %>;
    </script>
    <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNL4T60Jhr-30IesSLKDdpZvUeRRQRb0I&callback=initMap"></script>
  </body>
</html>
